{% extends 'base/sider_base.html' %}

{% load static %}

{% block title %}
Calendrier
{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block breadcrumb %}
  <div>
      <h1><i class="fa fa-calendar"></i> Calendrier</h1>
      <p>Calendrier de Réservation</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'guesthouse:gh'%}"><i class="fa fa-home fa-lg"></i></a></li>
      <li class="breadcrumb-item">Calendrier</li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
	
  <div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3">
                <div id="external-events">
                      <h4 class="mb-4">Réservation en cours</h4>
                      {% for event in events_today %}
                        <div class="fc-event">
                            <h6>{{ event.administration }}</h6>
                            <p>Du: {{ event.datedeb }}</p>
                            <p>Au: {{ event.datefin }}</p>
                        </div>
                      {% empty %}
                        <p>Pas de Réservation en cours</p>
                      {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <div id="calendar"></div>
            </div>

               <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                          <div class="modal-header bg-primary">
                              <h5 class="modal-title text-white" id="exampleModalLongTitle">Détails Réservation</h5>
                              <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div >
                              <div class="modal-body">
                                  {% for event in all_events %}
                                  <div class="fc-event">
                                      <p>Administration:{{event.administration}}</p>
                                      <p>Description: {{event.description}}</p>
                                      <p>Du: {{event.datedeb}}</p>
                                      <p>Au: {{event.datefin}}</p>
                                      <p>Salle: {{event.salle}}</p>
                                  </div>
                                  {% empty %}
                                    <p>Pas de Réservation en cours</p>
                                  {% endfor %}
                              </div>
                              <div class="modal-footer">
                                  <button id="modalClose2" type="button" class="btn btn-danger">Close</button>
                              </div>
                          </div> 
                      </div>
                  </div>
              </div> 
        </div>
    </div>
  </div>

{% endblock content %}

{% block extrascripts %}
  <script src="{% static 'calender/main.js' %}"></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var today = new Date();
     

      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,list',
          initialView: 'dayGridMonth'
        },
        initialDate: today,
        navLinks: true, // can click day/week names to navigate views
        selectable: true,
        selectMirror: true,
        select: function(arg) {
          console.log('clicked')
          var modal = document.getElementById('eventModal')
          modal.style.display = 'block'
          calendar.unselect()
        },
        // THIS KEY WON'T WORK IN PRODUCTION!!!
        // To make your own Google API key, follow the directions here:
        // http://fullcalendar.io/docs/google_calendar/
        // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',

        // bangladesh Holidays
        // events: 'bn.bd#holiday@group.v.calendar.google.com',
        /* eventClick: function(arg) {
          {% for i in events %}
                {
                  alert('Title:'+{{ i.administration}});
                },
          {% endfor %}
          //if (confirm('Are you sure you want to delete this event?')) {
          //  arg.event.remove()
         // } 
        },*/
        editable: true,
        dayMaxEvents: true, // allow "more" link when too many events
        events: [
            {% for i in events %}
                {
                  title: '({{i.capreservation}}), {{ i.administration}}',
                  start: '{{ i.datedeb|date:"Y-m-d" }}',
                  end: '{{ i.datefin|date:"Y-m-d" }}',

                },
            {% endfor %}

        ],
      });

      calendar.render();
    });
    const closeBtn1 = document.getElementById('modalClose1');
    const closeBtn2 = document.getElementById('modalClose2');
      closeBtn1.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
      closeBtn2.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
    
</script> 
{% endblock extrascripts %}
