{% load static %}


{% block content %}
    <div class="card-body">
 <!-- Recherche de la liste des étudiants dans la base -->
        <form method=POST action="{% url 'stage:search_etudiant' %}">
        {% csrf_token %}
        <div class="col px-md-5 p-3 border bg-light">
            <table>
                <thead class="breadcrumb-item">
                    <p class="text-danger h4">Recherche Etudiant</p><br>
                </thead>
                <tbody>
                    <div class="input-group mb-3">
                        <input type="search" class="form-control" placeholder="Carte d'identité" aria-label="Recipient's username" aria-describedby="basic-addon2" name="searched">
                        <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
                        </div>
                        <br>
                        
                          <table class="table">
                            <thead>
                            <tr>
                                <td scope="col">NOM</td>
                                <td scope="col">PRENOM</td>
                                <td scope="col">FILIERE</td>
                                <td scope="col">NIVEAU</td>
                            </tr>
                            </thead>
                            <tbody >
                                {% for etudiants in etudiants %}
                             <tr>
                            <td scope="col">{{etudiants.nom}}</td>
                            <td scope="col">{{etudiants.prenom}}</td>
                            <td scope="col">{{etudiants.filiere}}</td>
                            <td scope="col">{{etudiants.niveau}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                            
                        </div>
                    </div>
                </tbody>
            </table>

        </div>
      </form>
          

{% endblock content %}
